extends layout.pug

block content
    #band.w3-container.w3-content.w3-center.w3-padding-64(style='max-width:800px')
        h2.w3-wide WELCOME TO IKIGAI
        p.w3-opacity
            i ikigai [ee-kee-gahy] (n)
        p.w3-opacity
            i one’s reason for being, which in principle is the convergence of one’s personal passions, beliefs, values, and vocation: those who follow the concept of ikigai undertake the activities of their life with willingness and a satisfying sense of meaning
        p.w3-justify
            | "This is a motive, purpose, illusion, or vital goal that gives you the strength and energy every morning to start your day.
            | As everyone knows, however, not everyone has discovered it yet. That’s why some people spend a long time feeling lost without a course or motivation that can bring them real and tangible happiness."
        p.w3-justify
            | While on your journey to find your own ikigai you begin by putting together a list of tasks you want to try to complete each day. Through the completion of your tasks you will help your beehive grow. Hopefully, taking care of your own beehive will assist the completion of your tasks. And not to worry! Even if you don't get to complete your task, your hive will continue to grow! Completion of tasks just helps to boost its growth.